#fretboard-calculator {
    border: solid 1px black;
    min-height: 250px;
    min-width: 300px;
    background-color: #F4F2EB;
    text-align: center;
}

#fretboard {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

#fretboardContainer {
    min-width: 250px;
}

#topMenuContainer {
    padding: 20px;
}

#fretboardContainerProgress {
    border: 2px solid gray;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: black;
    opacity: 75%;
    text-align: center;
    z-index: 999999;
}

#optionsContainer {
    border-right: none;
    background-color: #555353;
    color: #ffffff;
    border-radius: 10px;
    padding-bottom: 20px;
}

.string {
    width: 40px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
}

.fret {
    width: 40px;
    height: 40px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
    background-color: white;
}

.fret:first-child {
    border: 1px solid black;
    border-radius: 50%;
}

.fret:nth-child(2) {
    border-top: 1px solid black;
}

.string:last-child .fret {
    border-right: 1px solid black;
}

.usedNote {
    background-color: tan;
}

.btn-default {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
