#fretboard-calculator {
    border: solid 1px black;
    margin: 0;
    padding: 10px;
    min-height: 250px;
    background-color: #F4F2EB;
    text-align: center;
}

#fretboard {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
}

#fretboardContainerProgress {
    border: 2px solid gray;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: black;
    opacity: 75%;
    text-align: center;
}

.string {
    width: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;
}

.fret {
    width: 50px;
    height: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    background-color: white;
}

.fret:first-child {
    border: 1px solid black;
    border-radius: 50%;
}

.fret:nth-child(2) {
    border-top: 1px solid black;
}

.string:last-child .fret {
    border-right: 1px solid black;
}

.usedNote {
    background-color: tan;
}

